# networkmanager
nm-applet &

# tray-icon for updates
pamac-tray &

# bspwm fix for jdownloader
wmname LG3D

# email client
thunderbird &

# chat client
rambox &

# status bar
polybar top &

# usenet client daemon
nzbget -D

# ethereum wallet
parity --light --max-pending-peers 30 --max-peers 10