# networkmanager
nm-applet &

# auto-lock screen
xautolock -time 5 -locker "~/.scripts/lock.sh" &

# tray-icon for updates
pamac-tray &

# bspwm fix for jdownloader
wmname LG3D

# chat client
rambox &

# status bar
polybar top-work &

# usenet client daemon
nzbget -D
