# networkmanager
nm-applet &

# auto-lock screen
xautolock -time 5 -locker "~/.scripts/lock ~/.scripts/lock.png" &

# tray-icon for updates
pamac-tray &

# bspwm fix for jdownloader
wmname LG3D

# chat client
rambox &

# status bar
if [[ "$(cat /etc/hostname)" == *"laptop"* ]]; then polybar top-work ; else polybar top ; fi

# usenet client daemon
nzbget -D
