Xcursor.size: 16

URxvt.font:             -*-dinapowerline-medium-r-*-*-13-*-*-*-*-*-*-*
URxvt.boldFont:         -*-dinapowerline-bold-r-*-*-13-*-*-*-*-*-*-*
URxvt.itallicFont:      -*-dinapowerline-medium-i-*-*-13-*-*-*-*-*-*-*
URxvt.boldItallicFont:  -*-dinapowerline-bold-i-*-*-13-*-*-*-*-*-*-*
URxvt.scrollBar:        false
URxvt.saveLines:        32767
URxvt.iso14755:         false
URxvt.iso14755_52:      false

URxvt.url-select.launcher:  /usr/bin/xdg-open
URxvt.perl-ext-common:      keyboard-select,url-select,clipboard

URxvt.keysym.C-C:  perl:clipboard:copy
URxvt.keysym.C-V:  perl:clipboard:paste
URxvt.keysym.C-B:  perl:clipboard:paste_escaped
URxvt.keysym.M-u:  perl:url-select:select_next

! special
*.foreground:   #bcbcbc
*.background:   #303030
*.cursorColor:  #bcbcbc

! black
*.color0:       #303030
*.color8:       #5d5d5d

! red
*.color1:       #d75f5f
*.color9:       #d75f5f

! green
*.color2:       #87af5f
*.color10:      #87af5f

! yellow
*.color3:       #afaf87
*.color11:      #afaf87

! blue
*.color4:       #5fafd7
*.color12:      #5fafd7

! magenta
*.color5:       #af87af
*.color13:      #af87af

! cyan
*.color6:       #5faf87
*.color14:      #5faf87

! white
*.color7:       #8f8f8f
*.color15:      #bcbcbc
