input {
    keyboard {
        xkb {
            file ".config/xkb/keymap.xkb"
        }

        repeat-delay 250
        repeat-rate 50
    }

    touchpad {
        tap
    }

    warp-mouse-to-focus
}

layout {
    gaps 5

    center-focused-column "never"

    focus-ring {
        width 1
        active-color "#ffffff"
        inactive-color "#505050"
    }

    border {
        off
    }
}

spawn-at-startup "kanshi"
spawn-at-startup "swayidle"
spawn-at-startup "nm-applet"
spawn-at-startup "udiskie" "-T" "-N" "-A"
spawn-sh-at-startup "MOZ_ENABLE_WAYLAND=0 thunderbird"
spawn-at-startup "wl-clip-persist" "--clipboard" "regular"
spawn-at-startup "ferdium"
spawn-at-startup "swaybg" "-i" "Pictures/Wallpapers/leaves.jpg" "-m" "fill"
spawn-sh-at-startup "wmname LG3D"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
screenshot-path null

animations {
    off
}

gestures {
    hot-corners {
        off
    }
}

// ### Named Workspaces ###
workspace "chat" {
    open-on-output "Samsung Electric Company LF24T450F H4ZR101725"
    // open-on-output "eDP-1"
    layout {
        default-column-width { proportion 1.0; }
    }
}
workspace "private" {
    open-on-output "Samsung Electric Company LF24T450F H4ZR101722"
    layout {
        default-column-width { proportion 1.0; }
    }
}

workspace "work"

// ### Window Rules ###
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match title="Bitwarden"
    match app-id="xfce-polkit"
    open-floating true
    block-out-from "screen-capture"
}

window-rule {
    match app-id="ferdium"
    open-on-workspace "chat"
    open-floating true
    default-floating-position x=5 y=5 relative-to="bottom-left"
    default-window-height { fixed 951; }
    default-column-width { fixed 1070; }
}

window-rule {
    match app-id=r#"^org\.gnome\.Calculator$"#
    open-floating true
}


environment {
    QT_QPA_PLATFORM "wayland"
    GDK_BACKEND "wayland"
    // DISPLAY null
    WAYLAND_DISPLAY "wayland-1"
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
}

binds {
    // ### Custom ###

    // Apps
    Mod+F       { spawn "pcmanfm"; }
    Mod+W       { spawn "firefox"; }
    Mod+Shift+W { spawn "firefox" "-P" "Work"; }
    Mod+R       { spawn "rofi" "-show" "run"; }
    Mod+T       { spawn "alacritty" "-e" "zsh" "-c" "tmux"; }
    Mod+E       { spawn "rofimoji" "--skin-tone" "light" "--action" "clipboard"; }

    // Scripts
    Ctrl+Alt+L            { spawn ".scripts/primary.sh" "hyprlock"; }
    Ctrl+Shift+L          { spawn ".scripts/sound.sh" "speakers"; }
    Ctrl+Shift+H          { spawn ".scripts/sound.sh" "headset"; }
    Ctrl+Shift+B          { spawn ".scripts/sound.sh" "bluetooth"; }
    Ctrl+Shift+numbersign { spawn ".scripts/webcam.sh" "default"; }
    Ctrl+Shift+minus      { spawn ".scripts/webcam.sh" "gain" "decrease"; }
    Ctrl+Shift+plus       { spawn ".scripts/webcam.sh" "gain" "increase"; }

    // Power management
    Mod+Ctrl+Q { spawn-sh "zenity --question --text='Shutdown?' && shutdown now"; }
    Mod+Ctrl+S { spawn-sh "zenity --question --text='Standby?' && systemctl suspend"; }
    Mod+Ctrl+R { spawn-sh "zenity --question --text='Reboot?' && reboot"; }
    Mod+Ctrl+W { spawn-sh "zenity --question --text='Go into Windows?' && systemctl reboot --boot-loader-entry=auto-windows"; }

    // Volume (same as default, but in 5%-steps
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }

    // Window/Column/Focus
    Mod+Left  { focus-column-or-monitor-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-or-monitor-right; }
    Mod+H     { focus-column-or-monitor-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-or-monitor-right; }

    Mod+Ctrl+Left  { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right-or-to-monitor-right; }
    Mod+Ctrl+H     { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L     { move-column-right-or-to-monitor-right; }

    Mod+Z       { switch-preset-column-width; }
    Mod+Shift+Z { switch-preset-window-height; }
    Mod+Ctrl+Z  { reset-window-height; }
    Mod+M       { maximize-column; }
    Mod+Shift+M { maximize-window-to-edges; }
    Mod+Shift+F { fullscreen-window; }
    // Mod+Ctrl+F  { expand-column-to-available-width; }

    Mod+Ctrl+T { toggle-column-tabbed-display; }

    Mod+Ctrl+comma  { consume-or-expel-window-left; }
    Mod+Ctrl+period { consume-or-expel-window-right; }

    Super+Alt+H { set-column-width "-10%"; }
    Super+Alt+L { set-column-width "+10%"; }
    Super+Alt+K { set-window-height "-10%"; }
    Super+Alt+J { set-window-height "+10%"; }


    // ### Default ###

    // Mod+Shift+Slash { show-hotkey-overlay; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    XF86AudioMute       allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute    allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    XF86AudioPlay   allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop   allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev   allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext   allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    // Mod+Left  { focus-column-left; }
    // Mod+Down  { focus-window-down; }
    // Mod+Up    { focus-window-up; }
    // Mod+Right { focus-column-right; }
    // Mod+H     { focus-column-left; }
    // Mod+J     { focus-window-down; }
    // Mod+K     { focus-window-up; }
    // Mod+L     { focus-column-right; }

    // Mod+Ctrl+Left  { move-column-left; }
    // Mod+Ctrl+Down  { move-window-down; }
    // Mod+Ctrl+Up    { move-window-up; }
    // Mod+Ctrl+Right { move-column-right; }
    // Mod+Ctrl+H     { move-column-left; }
    // Mod+Ctrl+J     { move-window-down; }
    // Mod+Ctrl+K     { move-window-up; }
    // Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Mod+Page_Down      { focus-workspace-down; }
    // Mod+Page_Up        { focus-workspace-up; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    // Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    // Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    // Mod+Ctrl+U         { move-column-to-workspace-down; }
    // Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    // Mod+BracketLeft  { consume-or-expel-window-left; }
    // Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    // Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    // Mod+Period { expel-window-from-column; }

    // Mod+R { switch-preset-column-width; }
    // Mod+Shift+R { switch-preset-window-height; }
    // Mod+Ctrl+R { reset-window-height; }
    // Mod+F { maximize-column; }
    // Mod+Shift+F { fullscreen-window; }
    // Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // Mod+Minus { set-column-width "-10%"; }
    // Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    // Mod+Shift+Minus { set-window-height "-10%"; }
    // Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Mod+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
